body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  margin:0;
  padding:0;
  background-color: #4d4d4d38;
  /* background:  */
  /* url('https://i.ibb.co/jyJVjJ8/grass.png') bottom center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  height: 100vh;
  overflow: hidden;
 
}

#root {
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 667px; /* Typical iPhone Pro Max height */
  margin: 0;
  padding:0;
  position: relative;
  overflow: hidden;
  background: url('https://i.ibb.co/JsTqpVC/backgroundcarrot-1.png') no-repeat center -100px;
}


.tunnel {
  position: relative; 
  z-index: 1; 
  height: 200px;
  width: 100%;
  /* top:320px; */
   /* background: url('https://i.ibb.co/xDCxqgW/tunnel-V4-1.png') no-repeat center; */
 background: url('https://i.ibb.co/WH1C3R7/tunnel-light.png') no-repeat center;
  /* margin-bottom:80px; */
  background-repeat: repeat-x;
 
}

#StartTunnel{
  width:200px;
}

.darkness {
  position: absolute;
  top: -5px;
  left: 100%;
  height: 150px;
  width: 110%;
background: url('https://i.ibb.co/SybbN1D/tunnel-dark.png');  
  transition: width 1.5s ease-in-out, left 1.5s ease-in-out;
  z-Index: 50;
}

.rabbit-head, .rabbit-tail {
  position: absolute;
  transition: transform 1.5s ease-in-out;
  z-Index: 4;
  
}

.rabbit-head {
  right: -150px;
  height: 350px;
  top:-150px;
}

@media screen and (max-width: 600px) {
  .rabbit-head {
    right: -200px;
    height: 350px;
    top:-150px;
  }    
}

@media screen and (max-width: 850px) {
  .control {
    padding-right: 0% !important;
  }
}

.control {
  padding-right: 4%;
}

.rabbit-tail {
  left: 100%;
  height: 150px;
}

.player-container img {
  transition: all 1.5s ease-out 0s;
  height: 50px;
   position: absolute;
   z-Index: 2;
  left: 46%;
}



/* /////////// */
.h-full {
  height: 100%;
}

.pt-1 {
  padding-top: 5px;
}

.control-panels{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:250px;
}

.panel{
  background: url('https://i.ibb.co/7tZs77N/box-1.png') no-repeat center center;
  background-size: cover;
  border:0;
  width: 100px;
  height: 100%;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.lever-container {
  background: url('https://i.ibb.co/FYqWdMW/Lever-Base.png') no-repeat center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:100px;
}

.block {
  display: block;
}

/* Styles for the number display */
.number-display {
  display: flex;
  color: white; 
  font-size: 48px; 
  padding: 20px;
  user-select: none; 
 
}

.gasoline-gauge {
  width: 30px;
  height: var(--gauge-height, 30px); 
  background-color:orange;
  /*background: linear-gradient(to top, red, green);
  background-size: 100% 200%;
  background-position: bottom;*/
  transition: height 0.5s ease-out;
  position:absolute;
}

#carrot_fuel{
  position:absolute;
  z-index: -1;
}


.fuel-bar-container {
  position: absolute;
  width: calc(100% - 20px); /* Adjust based on your margin needs */
  padding: 0 10px; /* 10px margin on both sides */
  height: 50px; /* Adjust as needed */

}

.fuel-line {
  position: absolute;
  width: 100%;
  height: 5px; /* Adjust as needed */
  background-color: black;
  top: 50%;
  transform: translateY(-50%);
}

.fuel-circle {
  position: absolute;
  width: 20px; 
  height: 20px; 
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.h-100 {
  height: 100vh;
}

.h-25 {
  height: 25%;
}

.h-12 {
  height: 12.5%;
}

.h-50 {
  height: 50%;
}

.w-100 {
  width: 100%
}

.player-table {
  display: flex;
  align-items: center;
  padding-left: 2vw;
  padding-top: 2vw;
}

.p-2 {
  padding: 2vw;
}

.flex {
  display: flex;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.center-img {
  transform: rotate(0deg);
  transition: transform 0.5s ease-out 0s;
  height: 100px;
  position: relative;
  top: -50px;
  transform-origin: 50% 100%;
}

.align-center {
  align-items: center;
}

.mr-2 {
  margin-right: 2vw;
}

#spin>.ant-spin-container {
  height: 100vh !important;
}

.overflow-y {
  overflow-y: scroll;
}

.scrollbar-none {
  scrollbar-width: none;
}

.winner {
  background-color: #87d068;
}

.loser {
  background-color: #f56a00;
}

td {
  text-align: center;
  padding: 16px 16px;
}

@media screen and (max-width: 600px) {
  td {
    text-align: center;
    padding: 10px 10px !important;
  }    
}